div#towar1{
     margin-left: 2px;
     margin-right: 2px;
 }
div#towar2{
    margin-left: 2px;
    margin-right: 2px;
}
div#dostosuj{
    margin-left: 15px;
    margin-right: 15px;
}
div#przelicz{
    margin-left: 15px;
    margin-right: 15px;
}
div#cena{
    margin-left: 2px;
    margin-right: 2px;
}